@page
@model WEB1001_WebApplication.Pages.IntroModel
@{
	Layout = "_Layout";
}

<div>	
	<h3>
		Giselle Salvador
	</h3>
</div>

@section Intro{
	<div class="container">
        <p>New section </p>
	</div>
}

