@page
@model WEB1001_WebApplication.Pages.IntroModel
@{
	Layout = "_Layout";
}

<div>	
	<h3>
		Giselle Salvador
	</h3>
</div>

<br />
<br />

<div>
    <form asp-page="Intro" method="GET">
    <div class="form-group">
    <label asp-for="firstValue"> First Value: 
    </label>
    <input asp-for="firstValue" type="number" /><br>
    </div>
    <label asp-for="secondValue"> Second Value:  </label>
    <input asp-for="secondValue" type="number" /><br>
    <br />

    <input type="submit" value="submit" />
    </form>
</div>
<br />
<br />
<div>
    
    <label> First Value: @Model.firstValue </label><br/>
    <label> Second Value: @Model.secondValue </label>
</div>




@section Intro{
	<div class="container">
        <p>New section </p>
	</div>
}

